@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Yellowtail&display=swap');

:root {
  --primary-bg-color: #EEEEEE;
  --secondary-bg-color: #FF8C00;
  --ternary-bg-color: #DDDDDD;
}

/* APPLY TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Yellowtail', cursive; */
  /* font-family: 'Yellowtail', cursive; */
}

