@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&family=Yellowtail&display=swap');

:root {
  --primary-bg-color: #EEEEEE;
  --secondary-bg-color: #FCD34D;
  --ternary-bg-color: #DDDDDD;
}

/* APPLY TO ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
}

/* HEADER */
#header {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  height: 10vh;
}

#header-title {
  margin: 0.5rem;
  font-family: 'Yellowtail', cursive;
  font-weight: 400;
}

#nav-bar {
  margin-left: auto;
}

.nav-link {
  color: black;
  text-decoration: none;
  margin: 2rem;
  display: inline-block;
  transition: 300ms ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

/* FORM */
.container {
  margin: 10vh auto;
  width: 65vw;
  padding: 1rem;
  text-align: center;
}

#form {
  margin: 1rem 0;
}

#email {
  width: 40%;
  padding: 0.4rem;
  font-family: inherit;
}

#submit {
  display: block;
  margin: 1rem auto;
  font-family: inherit;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--secondary-bg-color);
  border: none;
}

/* FEATURES SECTION */
#features {
  width: 65vw;
  margin: 0 auto;
}

.feature-tiles {
  margin: 3rem 0;
  display: flex;
  align-items: center;
}

.feature-tiles i {
  color: var(--secondary-bg-color);
  font-size: 3.5rem;
  width: 10rem;
}

.feature-icon {
  text-align: center;
}